.eventinfocover {
    width: 100vw;
    height: 93vh;
    z-index: 0;
    position: absolute;
    opacity: .7;
    background-color: #816647;
}

.detailscontainer {
    
    height: 93vh;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: absolute;
    background-color: rgba(208, 207, 207, .5);
}

.message {
    font-family: 'Qwigley', cursive;
    font-size: 3rem;
    color: tan;
    text-shadow: white 1px 1px;
    line-height: 10rem;

}

.name1 {

    font-family: 'Qwigley', cursive;
    font-size: 5rem;
    color: white;
    text-shadow: tan 1px 1px;
    line-height: 3rem;
}

.and {

    font-family: 'Qwigley', cursive;
    font-size: 3rem;
    color: white;
    text-shadow: tan 1px 1px;
}

.name2 {
    font-family: 'Qwigley', cursive;
    font-size: 5rem;
    color: white;
    text-shadow: tan 1px 1px;
    line-height: 3rem;
}

.date {
    font-family: 'Satisfy', cursive;
    font-size: 2rem;
    color: tan;
    text-shadow: white 1px 1px;
    line-height: 1rem;
    padding: 2rem 0 0 0;
}

.ceremony {
    font-family: 'Satisfy', cursive;
    font-size: 2rem;
    color: tan;
    text-shadow: white 1px 1px;
    line-height: 1rem;

}

.reception {
    font-family: 'Satisfy', cursive;
    font-size: 2rem;
    color: tan;
    text-shadow: white 1px 1px;
    line-height: 1rem;

}

.afterparty {
    font-family: 'Satisfy', cursive;
    font-size: 2rem;
    color: tan;
    text-shadow: white 1px 1px;
    line-height: 1rem;
}
