nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 1rem 0;
    height:3rem;
    a{
        text-decoration: none;
        color:rgb(189, 139, 75)
    }
}

.navLogo{
    height:3rem;
}

