.guestbookcover {
    width: 100vw;
    height: 93vh;
    z-index: -1;
    position: absolute;
    opacity: .8;
    background-color: #816647;
}
.guestbook{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    
}

.guestname {
    font-weight: bold;
    font-size: larger;
}

.guestbookentry{
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.5);
    padding: 0.5rem;
}
.editIcon{
    height: 1rem;
}

.guestbookInputForm{
        background: rgba(255, 255, 255, 0.5);
        text-align: center;
        font-weight: bold;
        width: 50vw;
        padding: 2rem;
}